<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./singevert.css">
    <title>Les histoires d'un singe vert</title>
</head>
<body>  
    <nav>
        <a href="./index.html">Sommaire</a>
        <a href="./250313-editorial.html">À propos</a>
    </nav>
     <img id="cover-image"
    src="./logo-min.png" 
    alt="Les histoires d'un singe vert pour occuper les jours de pluie"/>
    
    <main class="articles-container">
        {{ cards }}
    </main>
   <footer>
        <p>© 2025 - Les histoires d'un singe vert</p>
    </footer>
</body>
</html>