:root {
    --primary-green: #449537;
    --light-green: #ecf9ec;
    --black: #222222;
    --white: #ffffff;
    --dark-gray: #333333;
    --title: sans-serif;
    --body: serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body);
    font-size: 1.25rem;
    color: var(--black);
    line-height: 1.5;
    background-color: var(--white);
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
    line-height: 1.2;
    margin: 1.6rem 0;
}

header {
    padding: 0;
}

#cover {
    position: relative;
    width: 100%;
}

#cover-image {
    max-width: 100%;
    border-radius: 8px;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: all 0.3s ease;
}

#cover-link {
    position: absolute;
    right: 12%;
    bottom: 16%;
    font-size: clamp(0.7rem, 1.8vw, 1.7rem);
    padding: clamp(0.2rem, 1.4vw, 1rem) clamp(0.2rem, 2vw, 2rem);
    background-color: var(--primary-green);
    text-decoration: none;
    font-family: var(--title);
    font-weight: 500;
    color: var(--white);
    transition: background-color 0.5s ease-out;
}

#cover-link:hover {
    color: var(--primary-green);
    background-color: var(--white);
}

nav {
position: sticky;
top: 0;
background-color: var(--primary-green);
z-index: 99;
display: flex;
justify-content: space-between;
gap: 2rem;
}

nav a {
color: var(--white);
text-decoration: none;
padding: 1rem;
font-family: var(--title);
font-weight: 500;
font-size: 1.6rem;
}

nav a:hover {
background-color: var(--black);
}

.articles-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-bottom: 3rem;
}

@media (min-width: 768px) {
    .articles-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .article-page {
        width: 66%;
    }
}

@media (min-width: 1024px) {
    .articles-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.article-card {
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.card-content {
    padding: 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

article p {
    margin-bottom: 1rem;
}
article img {
    width: 100%
}
.card-category {
    font-family: var(--title);
    color: var(--primary-green);
    font-weight: 600;
    text-transform: uppercase;
}

.card-title {
    font-family: var(--title);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.3;
}

h3 a {
    text-decoration: none;
    color: var(--black);
    transition: all 0.5s ease;
}

h3 a:hover {
    text-decoration: underline;
}

.card-excerpt {
    color: var(--dark-gray);
    margin-bottom: 1.5rem;
}

.card-date {
    font-family: var(--title);
    color: var(--dark-gray);
    margin-top: auto;
}

.read-more {
    display: inline-block;
    color: var(--primary-green);
    text-decoration: none;
    font-weight: 600;
    font-family: var(--title);
    margin-top: 1rem;
    transition: all 0.5s ease;
}

.read-more:hover {
    color: var(--primary-green);
    text-decoration: underline;
}

.article-page {
    width: 90%;
    margin: auto;
}

.article-page h1 {
    font-size: 2.2rem;
}

article ul,
article ol {
    padding-left: 2rem;
    margin-bottom: 1rem;
}

article li {
    margin-bottom: 0.3rem;
}

blockquote {
    background-color: var(--light-green);
    color: var(--primary-green);
    padding: 1rem;
}

footer {
    text-align: center;
    padding: 2rem 0;
    border-top: 1px solid var(--back-white);
    color: var(--dark-gray);
    font-family: var(--title);
    font-size: 0.9rem;
    margin-top: 3rem;
}
